body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    background-image: url(https://ENKOSHI.github.io/Background.jpg);
    background-size:cover;
    background-attachment: fixed;
}

.container {
    opacity:0.60;
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    opacity:0.60;
    text-align: center;
    color:indianred;
    font-weight:500;
}

h2 {
    opacity:0.60;
    color:indianred;
    font-weight:500;
}

label {
    opacity:0.60;
    color:indianred;
    font-weight:500;
}

option {
    opacity:0.60;
    color:indianred;
    font-weight:500;

textarea {
    color:indianred;
    opacity:0.60;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="text"],
input[type="number"],
input[type="range"] {
    opacity:0.60;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-weight:600;
    color:indianred;
}

button {
    background-color:indianred;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

button:hover {
    background-color: #0056b3;
}


